html {
  height: 100%;
  width: 100%;
  font-family: Inter, sans-serif;
  color: var(--text-primary);
  background-color: var(--background-color);
}

body {
  height: 100%;
  width: 100%;
}

#root {
  height: 100%;
  width: 100%;
  display: grid;
  justify-items: center;
  align-items: center;
}