:root {
  // background
  --background-color: #1A1F23;

  // text
  --text-primary: #FFFFFF;

  // button
  --button-background-color-primary: #29A354;
  --button-background-color-secondary: #F9891C;
  --button-background-color-other: #757677;
}