.root {
  height: 100%;
  width: 390px;
  padding: 200px 26px 100px;
}

.management {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;

  .editButton {
    color: #29A354;
    font-weight: 800;
    font-size: 14px;
  }

  .addButton svg {
    width: 20px;
    height: 35px;
  }
}

.title {
  font-weight: 800;
  font-size: 24px;
  line-height: 26px;
  padding: 14px 0;
}

.listOfTimers {
  .delete {
    background-color: #DD363C;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .item {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 10px;
    padding: 29px 0;
    border-top: 1px solid #FFFFFF33;

    &:last-child {
      border-bottom: 1px solid #FFFFFF33;
    }
  }
}
